body {
  background-color: lightblue;
}

.homePuppyImage {
  height: 25vh;
  width: 20vh;
}

.homePuppyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  width: 20vh;
}